<!DOCTYPE html>
<html>

<head>
  <title>RealEstate Platform</title>
  <link rel="shortcut icon" href="/public/images/PageLogo/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/lib/fontawesome-free-5.8.1-web/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/chooseProperty.css" />
  <link href="/font/EncodedSansExpanded.css" rel="stylesheet" />
  <link href="/font/OpenSansCondensed300.css" rel="stylesheet" />
  <style>
    .mySlides {
      display: none;
    }

    img {
      vertical-align: middle;
    }
  </style>
</head>

<body>
  <section class="body1">
    <!--Header-->
    <%- include navbar.ejs %>

    <!--MainPage-->
    <div class="mainpage">
      <div class="slideshow-container">
        <% data.images.map((value, index) => { %>
        <div class="mySlides fade">
          <img class="img" src="<%-value%>" style="width:100%" />
        </div>
        <% }) %>
        <a class="prev center" onclick="plusSlides(-1) ">&#10094;</a>
        <a class="next center" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />
      <div class="preinfo">
        <div class="city">
          <a href="#">Minutes
            <img src="https://img.icons8.com/material-rounded/24/000000/right.png" />
            <%- data.district %>
            <img src="https://img.icons8.com/material-rounded/24/000000/right.png" />
            <%- data.city %>
          </a>
        </div>
        <div class="sharing">
          <a href="#">Share<img src="https://img.icons8.com/material/24/000000/share-3.png" class="shareicon" </a>
              </div> </div> <div class="inner1">
            <div class="leftinfo">
              <p class="title">
                <%- data.title %>
              </p>
              <div class="address">
                <a href="" class="dalat"><img src="https://img.icons8.com/android/24/000000/map.png"
                    class="direction" /><%- data.city %>, <%- data.district %>, <%- data.ward %></a>
                <a href="#map">
                  <p class="seedirection">Xem bản đồ</p>
                </a>
                <a href="" class="nharieng"><img src="https://img.icons8.com/material-outlined/24/000000/home.png"
                    class="direction" /><%- data.propertyType %> <%- data.propertyArea %>m<sup>2</sup></a>
              </div>
              <div class="detailinfo">
                <%- data.detailDescription %>
              </div>
              <div class="accessibility">
                <div class="family">
                  <p class="tienich">Tiện ích căn hộ</p>
                  <% data.propertyFacility.map((value, index)=>{ %>
                  <% switch(value.toUpperCase()) {
                  case "POOL": %>
                  <p><span><i class="fas fa-1x fa-swimmer"></i></span> Hồ bơi</p>
                  <% break; %>
                  <% case "WASHING MACHINE": %>
                  <p><span><i class="fas fa-1x fa-socks"></i></span> Máy giặt</p>
                  <% break; %>
                  <% case "WIFI": %>
                  <p><span><i class="fas fa-1x fa-wifi"></i></span> Wifi</p>
                  <% break; %>
                  <% case "GARDEN": %>
                  <p><span><i class="fas fa-1x fa-tree"></i></span> Vườn</p>
                  <% break; %>
                  <% case "FURNITURE": %>
                  <p><span><i class="fas fa-1x fa-couch"></i></span> Nội thất</p>
                  <% break; %>
                  <% case "BALCONY": %>
                  <p><span><i class="fas fa-1x fa-dungeon"></i></span> Lan can</p>
                  <% break; %>
                  <% case "GYM": %>
                  <p><span><i class="fas fa-1x fa-dumbbell"></i></span> Phòng gym</p>
                  <% break; %>
                  <% case "HIGH SPEED INTERNET": %>
                  <p><span><i class="fas fa-1x fa-network-wired"></i></span> Internet tốc độ cao</p>
                  <% break; %>
                  <% }; %>
                  <%})%>
                </div>
              </div>
              <div id="map">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15613.362368115242!2d108.4269181!3d11.9509044!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x68c1299d6d8826dc!2zVsaw4budbiDEkG9tIMSQw7NtIMSQw6AgTOG6oXQ!5e0!3m2!1svi!2s!4v1560397032913!5m2!1svi!2s"
                  width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="rightinfo">
              <p class="price"><%- data.price %><sub>/đêm</sub></p>
              <form action="/book" method="POST">
                <input type="date" id="date" class="infoo" name="date" placeholder="Ngày đến" />
                <input type="number" id="passenger" class="infoo" name="passenger" placeholder="Passenger" />
                <a href="../buy">
                  <button type="submit" class="book">
                    Book Now
                  </button>
                </a>
                <hr width="80%" style="margin-top:20px;" text-align="left" />
                <div class="ownerinfo">
                  <img src="" class="direction2" />
                  <p class="ownername">Phan Hoàng Nam</p>
                </div>
              </form>
            </div>
        </div>
      </div>
      <!--Footer-->
      <%- include footer.ejs %>

  </section>
  <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides((slideIndex += n));
    }

    function currentSlide(n) {
      showSlides((slideIndex = n));
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {
        slideIndex = 1;
      }
      if (n < 1) {
        slideIndex = slides.length;
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
    }
  </script>
</body>

</html>